

<div class="col-sm-4 well">
  <div class="row">
     <div class="col-sm-4">
      <img src="/media/{{item.image}}" alt="" width="50px" height="50px">
     </div>

      <div class="col-sm-8">
        <form action="/myitem" method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <h6 class="text text-success text-uppercase">{{item.name}}</h6>
          <input name="itemId" style="display:none" value="{{item.id}}">
          <input type="submit" class="btn btn-primary" name="deleteItem" value="delete">
        </form>

      </div>
  </div>
</div>
