   <div class="col-xs-18 col-sm-6 col-sm-4">
      <div class="thumbnail">
        <img src="/media/{{item.image}}" alt="">
          <div class="caption">
            <h4>{{item.name}}</h4>
            <p>{{item.info}}</p>
            <p>
              <a href="#" class="btn btn-info " role="button">&#8377; {{item.price}}</a>
              <a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-envelope"></span>{{item.user.contactNo}}</a>
            </p>
        </div>
      </div>
    </div>
